
.sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
}

/** Paper sizes **/
.legal .sheet{ width: 216mm; height: 356mm }

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }
.sheet.padding { padding: 5mm 25mm 25mm 25mm}

/** For screen preview **/
@media screen {
    .sheet {
        background: white;
        box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
        margin: 5mm;
    }
}

.rapor {
    font-family: Arial;
    color: black;
}

.rapor.size-20  { font-size: 20pt; line-height: 2em }
.rapor.size-18  { font-size: 18pt; line-height: 2em }
.rapor.size-15  { font-size: 15pt; line-height: 2em }
.rapor.size-14  { font-size: 14pt; line-height: 2em }
.rapor.size-11  { font-size: 11pt; line-height: 1.5em }